<h1>List of Users</h1>

  <div>
    <table class="table table-condensed">
      <tr>
        <th>User email</th>
        <th>ID</th>
        <th>Last Log In</th>
      </tr>
      <% @users.each do |user| %>
      <tr>
        <td><%= user.id %></td>
        <td><%= link_to user do %><%= user.email %><% end %></td>
        <td><%= user.last_sign_in_at %></td>
      </tr>
    </table>
  </div>
  
<% end %>  