.body-background{
/*  /*background-color: #333330;*/
  /*background-color: #bfbfbb;*/
  /*color: #bfbfbb;*/
  /*color: #333330;*/
}

.vertical-center {
/*  min-height: 100%;
  min-height: 100vh;

  display: flex;
  align-items: center;*/
}

.header {
  display: inline-block;
  padding: 20px;
}

.left-header {
  text-align: left;
  font-size: 36px;
  font-style: bold;
}

.right-header{
  text-align: right;  
}