<h1>All Posts</h1>

<!-- You don't need to call the controller because it's already defined in app.config -->
<!-- <ul>
  <li ng-repeat="item in words track by $index">{{ item }}</li>
</ul> -->

<table class="table table-condensed">
  <tr>
    <th>Title</th>
    <th>Author</th>
    <th>URL</th>
    <th>Link to Post</th>
  </tr>
  <tr ng-repeat="post in posts">
    <td><a ng-href="#{{ post.link}}">{{ post.title }}</a></td>
    <td>{{ post.user_id }}</td>
    <td ng-if="post.url"><a href="{{post.url}}">{{ post.url }}</a></td>
    <td ng-if="!post.url">No URL</td>
    <td><a ng-href="#{{post.link}}">Post</a></td>
  </tr>
</table>

<form ng-submit="addNewPost()" name="newpostform">
  <label></label>
  <input type="text" placeholder="Add New Post Title" ng-model="newPost">
  <input type="text" placeholder="URL" ng-model="newURL">
  <button class="btn btn-sm btn-danger">Submit</button>
</form>